@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root {
    --cor-inicial-fundo: #262859;
    --cor-final-fundo: #F3858E;
    --rosa-salmao-fazendo: #F3858E;
    --branco-fonte: #EEEEEE;
    --verde-a-fazer: #18A698;
    --azul-feito: #11B4BE;
    --cor-final-fundo-modo-claro: #F3858E;
    --rosa-salmao-fazendo-modo-claro: #F3858E;
    --verde-a-fazer-modo-claro: #18A698;
    --cor-final-fundo-modo-escuro: #0B332F;
    --verde-a-fazer-modo-escuro: #19867B;
    --rosa-salmao-fazendo-modo-escuro: #E07881;
    --preto: #0F0F0F;
    --fonte-principal: "Jockey One", sans-serif;
    --icone-modo-claro: "./img/Ícone Light.png";
    --icone-modo-escuro: "./img/Ícone Dark.png";
}

body{
    background: linear-gradient(var(--cor-inicial-fundo), var(--cor-final-fundo));
    background-repeat: no-repeat;
    font-family: var(--fonte-principal);
    color: var(--branco-fonte);
}

header{
    display: block;
    text-align: center;
    background-image: url(./img/Certo.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2.5rem;
}

header hr {
    width: 60%;
    height: 2px;
    background-color: var(--branco-fonte);
}

header h1 {
    text-align: center;
    width: 100%;
}

main {
    display: block;
    margin-top: 3rem;
    text-align: center;
    min-height: 60vh;
}

.hidden {
    display: none;
}

.titulo_header {
    margin-top: 0.7rem;
    font-size: 4rem;
}

.subtitulo_header {
    font-size: 2rem;
    text-align: center;
}

.header_quadro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titulo_quadro {
    text-align: center;
    font-size: 2.5rem;
}


.separador_titulos_botao {
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
}

.separador_titulos_botao_item {
    width: 33.3%;
}

.botao_interativo :hover {
    filter: opacity(80%);
}

.espaco_quadros {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 1.r2em;
    margin-left: 3%;
    margin-right: 3%;
    column-gap: 4%;
    border: var(--branco-fonte) 0.3rem solid;
    border-radius: 10px;
}

.espaco_quadros_quadro {
    margin: 2rem 0;
    border: var(--branco-fonte) 0.3rem solid;
    border-radius: 10px;
    width: 28%;
}

.conteudo_quadro {
    margin: 2.75rem 0;
}

.espaco_quadros h4 {
    font-size: 2.2rem;
    text-wrap: nowrap;
}

.a_fazer {
    background-color: var(--verde-a-fazer);
}

.fazendo {
    background-color: var(--rosa-salmao-fazendo);
}

.feito {
    background-color: var(--azul-feito);
}

#separador_titulos_botao_mudar_tema {
    margin-top: 2rem;
    margin-left: 27%;
}

#separador_titulos_botao_editar {
    margin-left: -10%;
}

.botao_quadro {
    margin-left: 10%;
    min-width: 38px;
    min-height: 38px;
}

.botao_quadro button {
    border: none;
    background-color: transparent;
}

.botao_quadro button :hover{
    filter: opacity(80%);
}

.item {
    margin-top: 1rem;
}

.tarefas_tarefa {
    border: var(--branco-fonte) 0.15rem solid;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding: 0.75rem 0;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr, 1fr;
    column-gap: 0;
}

.titulo_tarefa {
    padding-left: 0.5rem;
    margin-right: -0.5rem;
    grid-column: 1/3;
    text-wrap:nowrap;
}

.botoes_tarefa {
    grid-column: 3;
    text-align: right;
    display: flex;
    align-items:center;
    column-gap: 2.5%;
    margin-right: 0.2rem;
}

.botao_acao_tarefa {
    border: none;
    background-color: transparent;
}

.quadro_nova_tarefa {
    border-radius: 10px;
    align-self: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--preto);
    background-color: var(--branco-fonte);
}

.quadro_nova_tarefa input {
    width: 100%;
    background-color: transparent;
    color: var(--preto);
    border: none;
    outline: none;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.quadro_nova_tarefa hr {
    background-color: var(--preto);
    height: 0.2rem;
    margin-top: 0rem;
    width: 90%;
    margin-left: 0.75rem;
}

.quadro_nova_tarefa input::placeholder {
    color: var(--preto);
}


.botao_quadro_nova_tarefa {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}



.botao_acao_botao_quadro_nova_tarefa_a_fazer {
    border: var(--verde-a-fazer) solid 0.15rem;
}


.botao_acao_botao_quadro_nova_tarefa_fazendo {
    border: var(--rosa-salmao-fazendo) solid 0.15rem;
}

.botao_acao_botao_quadro_nova_tarefa_feito {
    border: var(--azul-feito) solid 0.15rem;
}

.espaco_botoes_botao_quadro_nova_tarefa {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-left: 0.5rem;
    column-gap: 2rem;
    padding-bottom: 0.75rem;
}

.espaco_botoes_botao_quadro_nova_tarefa button {
    font-family: var(--fonte-principal);
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
}


.tarefas_tarefa p {
    width: 30%;
}

.conteudo_botao_nova_tarefa {
    width: auto;
    border: var(--branco-fonte) 0.15rem solid;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.25rem 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.conteudo_botao_nova_tarefa p{
    width: 80%;
}


.quadro_opcoes_tarefa {
    border-radius: 8px;
    border: var(--branco-fonte) 0.15rem solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    align-content: center;
    position: absolute;
    margin-top: 2rem;
    z-index: 10;
    right: 150;
}

.quadro_opcoes_tarefa_a_fazer,
.quadro_opcoes_tarefa_a_fazer button {
    background-color: var(--verde-a-fazer);
}

.quadro_opcoes_tarefa_fazendo,
.quadro_opcoes_tarefa_fazendo button {
    background-color: var(--rosa-salmao-fazendo);
}

.quadro_opcoes_tarefa_feito,
.quadro_opcoes_tarefa_feito button {
    background-color: var(--azul-feito);
}

.quadro_opcoes_tarefa button :hover {
    display: block;
}

.quadro_opcoes_tarefa button {
    width: 100%;
    top: 100%;
    z-index: 10;
    min-width: 6rem;
    display: flex;
    flex-direction: column;
    color: var(--branco-fonte);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    border: none;
}

.quadro_opcoes_tarefa button p {
    width: 100%;
    text-align: center;
    align-items: center;
}

.conteudo_opcao_botao_tarefa {
    border-radius: 4px;
}

.conteudo_opcao_botao_tarefa_a_fazer:hover {
    color: var(--verde-a-fazer);
    background-color: var(--branco-fonte);
}
.conteudo_opcao_botao_tarefa_fazendo:hover {
    color: var(--rosa-salmao-fazendo);
    background-color: var(--branco-fonte);
}
.conteudo_opcao_botao_tarefa_feito:hover {
    color: var(--azul-feito);
    background-color: var(--branco-fonte);
}

.icone_nova_tarefa {
    width: 0.9rem;
    height: 0.9rem;
}

.icone_expandir_opcoes:hover ~ .quadro_opcoes_tarefa,
.quadro_opcoes_tarefa:hover,
.quadro_opcoes_tarefa button:hover ~ .quadro_opcoes_tarefa {
    display: block;
}



footer {
    margin-top: 3.5rem;
    background-color: var(--preto);
}

.conteudo_footer {
    padding: 1.5rem 0;
    text-align: center;
}

.conteudo_footer p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.conteudo_footer a{
    text-decoration: none;
    color: var(--branco-fonte);
}

@media (max-width: 1450px) {
    .titulo_tarefa {
        font-size: 1.25rem;
    }

    .espaco_quadros {
    column-gap: 3%;
    border-radius: 6px;
    }

    .espaco_quadros_quadro {
        border-radius: 6px;
    }

    .espaco_quadros h4  {
        font-size: 1.75rem;
        text-wrap: 2rem;
    }

    .tarefas_tarefa {
        border: var(--branco-fonte) 0.2rem solid;
        border-radius: 6px;
    }

    .conteudo_botao_nova_tarefa {
        font-size: 1rem;
    }

    .espaco_botoes_botao_quadro_nova_tarefa {
        font-size: 0.75rem;
        border-radius: 6px;
        column-gap: 1.25rem;
    }

    .espaco_botoes_botao_quadro_nova_tarefa button {
        font-size: 0.75rem;
        border-radius: 6px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .quadro_nova_tarefa {
        border-radius: 6px;
    }

    .quadro_nova_tarefa input {
        font-size: 1rem;
        margin-top: 1rem;
        padding-left: 0.75rem;
    }

    .quadro_nova_tarefa hr {
        height: 0.1rem;
    }
}

@media (max-width: 950px) {
    
    .espaco_quadros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0;
    }

    .espaco_quadros_quadro {
        border: var(--branco-fonte) 0.3rem solid;
        border-radius: 10px;
        width: 90%;
    }

    #botao_mudar_tema {
        padding-left: 15%;
    }

}